.choosen-menu-wrapper {
    .choosen-menu {
        .choosen-menu-title-wrapper {
            .choosen-menu-title {
                text-align: center;
                font-size: $menus-head-font-size;
                color: $hearsay-maroon;
            }
        }
    }
}
