// ================ FOOTER =================
.footer-wrapper {
    display: flex;
    justify-content: center;

    // position: fixed;
    // bottom: 0;
    // background-color: rgba($color: #c4c4c4, $alpha: 0.7);
    padding: 10px 10px 0 10px;
    width: 100%;
}
// ================ END OF FOOTER =================
