// ================ GUEST APPROACH & SIDEWORK GUIDE =================

.guide {
    padding: 10px;
    ul {
        list-style-position: inside;
        font-size: $guides-list-font-size;
        padding-left: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    ol {
        list-style-position: inside;
        font-size: $guides-list-font-size;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    h3 {
        font-size: 26px;
    }

    h4 {
        font-size: 22px;
    }

    p {
        text-align: left;
        font-size: 18px;
    }

    .description {
        font-size: 14px;
        font-style: italic;
    }
}

.guest-approach,
.sidework {
    text-align: center;
    h1 {
        font-size: $menus-head-font-size;
    }
    .section-header {
        font-size: $item-title-font-size;
        color: $hearsay-maroon;
        padding-top: 10px;
        padding-bottom: 10px;
        text-decoration: underline;
    }
    .section-description {
        font-size: $description-font-size;
    }
    ul {
        padding: 20px 0 10px 20px;
        list-style: disc outside;
    }
    li {
        text-align: left;
    }

    .option {
        color: $hearsay-maroon;
    }

    i {
        display: block;
        font-size: 1.5rem;
    }
}

// ================ END OF GUEST APPROACH & SIDEWORK GUIDE =================
