// ============= HEADER ==============
.header {
    margin-bottom: 15px;
    max-width: 99vw;
    .header-wrapper {
        .header-logo {
            text-align: center;
            img {
                width: 90vw;
            }
        }
        .burger {
            position: relative;
            text-align: center;
            display: flex;
            flex-direction: column;
            .burger-menu {
                max-width: 95vw;
                display: none;
                position: absolute;
                z-index: 12;

                left: 0px;
                right: 0px;

                background-color: whitesmoke;

                .menu-item-wrapper {
                    border: 1px black solid;

                    .menu-item-navigation-choice {
                        background-color: $offwhite;
                        color: $hearsay-maroon;
                    }

                    .menu-item:hover {
                        color: $hearsay-maroon;
                        background-color: gray;
                    }
                    .menu-item-navigation-choice:hover {
                        background-color: $offwhite;
                    }
                }
            }

            // TO DO add functionality: click on burger same as hover
            &:hover {
                .burger-menu {
                    // visibility: visible;
                    display: block;
                }
            }
        }
    }
}

// ============= END OF HEADER ==============
