// ================ NO MATCH =================
.no-match-wrapper {
    display: flex;
    .no-match {
        font-size: 5vh;
        text-align: center;
        p {
            font-size: small;
        }
    }
}

// ================= CREDITS ==================
