// colors
$hearsay-maroon: rgb(139, 12, 29);
$offwhite: rgb(190, 190, 190);

// font size
$item-title-font-size: 30px;
$description-font-size: 20px;
$menus-head-font-size: 40px;
$menus-list-font-size: 20px;
$guides-list-font-size: 20px;
